/* Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #4972B1;
}

/* Formulário */
#form {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 25px;
  border-radius: 10px; 
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px;
}

/* Logo */
#form-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
#form-logo {
  display: block;
  max-width: 70px;
  margin: auto;
  margin-bottom: 5px;
  cursor: pointer;
}

/* Fieldsets */
.full-width-fieldset {
  grid-column: span 2;
}
.half-width-fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-column-gap: 10px;
  grid-auto-flow: column;
}
.third-width-fieldset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
.quarter-width-fieldset {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.fith-width-fieldset {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
}
fieldset {
  border: 1px solid #ccc;
  border-radius: 10px; 
  padding: 10px;
}
legend {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
#store-state option[value=""] {
  color: gray;
}

/* Inputs */
input[type="checkbox"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="time"],
select {
  width: 100%;
  padding: 6px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="file"] {
  display: none;
}
label {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
}
a {
  display: block;
  text-decoration: none;
  color: #4972B1;
  transition: color 0.3s;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0;
  width: fit-content; 
  font-size: small;
}
a:hover {
  color: #495eb1;
}

/* Checkboxes */
.options-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
}
.options-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
}
.options-container input:checked ~ .checkbox-mark {
  background-color: #4972B1;
}
.checkbox-mark:after {
  content: "";
  position: absolute;
  display: none;
}
.options-container input:checked ~ .checkbox-mark:after {
  display: block;
}
.options-container .checkbox-mark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Botões */
.button {
  display: flex;
  justify-content: center;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.upload-button {
  background-color: #4972B1;
  color: white;
}
.upload-button:hover {
  background-color: #2f4c77;
}
.start-button {
  background-color: green;
  color: white;
}
.start-button:hover {
  background-color: rgb(1, 88, 1);
}
.remove-file {
  display: none;
}


/* @media only screen and (max-width: 725px) { 
  #form {
    padding: 15px;
  }
  #form-logo {
    max-width: 50px;
  }
  #form-grid {
    flex-direction: column; 
    align-items: stretch;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    grid-gap: 10px;
  }
} */

@media only screen and (max-width: 660px) { 
  .half-width-fieldset, .third-width-fieldset, .quarter-width-fieldset,  .fith-width-fieldset {
    flex-direction: column; 
    align-items: stretch; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    grid-column: span 2;
    grid-gap: 10px;
  }
}

#collapsible-content {
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  /* max-height: 800px;  */
}

#collapsible-content.collapsed {
  max-height: 0;
}