#container-top:active {
    transform: scale(0.97)
}
.input:hover, 
.checkmark:hover,
.upload-label:hover {
    background-color: #f4f7fc;
    border: 1px solid #4972B1;
}
.button:active,
.display-buttons:active {
    transform: scale(0.97) 
}
.button:hover,
.display-buttons:hover {
    background-color: #fff6f4;
    border: 1px solid #5E190B;
}
.checkbox-label input:checked ~ .checkmark {
    background-color: #4972B1;
    color: #f8f8f8;
}
.checkmark::before {
    text-align: center;
    width: 100%;
    content: attr(data-text);
}