/* Width */
@media only screen and (max-width: 1150px) { 
    .button,
    .input-label,
    .checkbox-label, 
    .upload-label {
        font-size: 0.75rem;
    }
}
@media only screen and (max-width: 768px) { 
    .ten-col-fieldset { 
        grid-column: 5 span; 
        grid-template-columns: repeat(5, 1fr);
    }
    .six-col-fieldset { 
        grid-column: 5 span; 
        grid-template-columns: repeat(3, 1fr);
    }
    .five-col-fieldset { 
        grid-column: 5 span; 
        grid-template-columns: repeat(3, 1fr);
    }
    .four-col-fieldset { 
        grid-column: 5 span; 
    }
    .three-col-fieldset { 
        grid-column: 5 span; 
    }
    .two-col-fieldset { 
        grid-column: 5 span; 
    }
    .fieldset {
        row-gap: 0.2rem;
    }
    body {
        height: auto;
    }
    #message-container {
        width: 17rem;
    }
    .message-content {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 600px) { 
    .img {
        display: none; 
    }
}
@media only screen and (max-width: 480px) { 
    .fieldset { 
        grid-template-columns: repeat(1, 1fr);
    }
    #title { 
        font-size: 2rem;
    }
    #container-top {
        height: 2rem;
    }
    #container {
        gap: 0.5rem;
        padding: 1rem;
    }
    .display-buttons {
        min-width: 3rem;
        height: 2.5rem;
    }
    #display-buttons-container {
        flex-wrap: wrap;
    }
    #message-container {
        width: 14rem;
    }
}
@media only screen and (max-width: 340px) { 
    #title { 
        font-size: 1.5rem;
    }
    #container-top {
        height: 1.5rem;
    }
}
@media only screen and (max-width: 280px) { 
    #title { 
        font-size: 1.25rem;
    }
    #container-top {
        height: 1.25rem;
    }
}

/* Height */
@media only screen and (max-height: 1400px) {
    body {
        height: auto;
    }
} 