*,
*::before,
*::after {
  box-sizing: border-box; 
}

/* Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1.25rem; 
  background-color: #4972B1;
}

/* Formulário */
#form {
  max-width: 60rem;
  margin: 0 auto;
  background-color: white;
  padding: 1.5625rem; 
  border-radius: 0.3125rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.625rem;
  box-shadow: 0 0 50px 4px rgb(69, 69, 69);
}
.form-grid {
  max-width: 60rem;
  border-radius: 0.3125rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.625rem;
}

/* Logo */
/* #form-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
#form-logo {
  display: block;
  max-width: 4.375rem;
  margin: 0 auto;
  cursor: pointer;
} */

/* Fieldsets */
.full-width-fieldset {
  grid-column: span 12;
}
.half-width-fieldset {
  grid-column: span 6;
}
.quarter-width-fieldset {
  grid-column: span 3;
}
.first-width-fieldset {
  grid-column: span 1;
}
.eleventh-width-fieldset {
  grid-column: span 11;
}
.field-container-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
}
.field-container-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}
.field-container-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
}
.field-container-five {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px; 
}
.field-container-six {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 10px; 
}
.field-container-ten {
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  gap: 10px; 
}
fieldset {
  border: 1px solid #ccc;
  border-radius: 0.3125rem; 
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px 1px rgb(232, 232, 232);
}
legend {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
#store-state option[value=""] {
  color: #ccc;
}

/* Inputs */
input[type="checkbox"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="time"],
select {
  width: 100%;
  padding: 6px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  box-sizing: border-box;
}
input[type="file"] {
  display: none;
}
label {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
}

/* Checkboxes */
.options-container {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}
.options-label{
  display: flex;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
}
.options-label:first-child {
  text-align: left;
}
.options-label:last-child {
  text-align: right;
}
.options-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 0.3125rem;
}
.options-label input:checked ~ .checkbox-mark {
  background-color: #4972B1;
}

/* Botões */
#button-container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.auxiliar-button {
  width: 2.5rem; 
  padding: 0.625rem;
  margin-right: 0.625rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button, #store-id {
  flex: 1;
  background-color: #4972B1;
  color: white;
  border-radius: 0.3125rem; 
  padding: 0.625rem 1.25rem;
  border: none;
  cursor: pointer;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  min-width: 2.1875rem;
  height: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 1px rgb(232, 232, 232);
}
.button-container.collapsed {
  margin-bottom: 0.625rem;
}
#store-id {
  cursor: text;
}
.auxiliar-button {
  flex: 0;
  margin: 0;
}
.upload-button:hover, .auxiliar-button:hover {
  background-color: #2f4c77;
}
#start-button {
  background-color: green;
}
#start-button:hover {
  background-color: rgb(1, 88, 1);
}
.remove-file {
  display: none;
}
#store-id::placeholder {
  color: white;
}

/* Colapsar */
#collapsible-content {
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}
#collapsible-content.collapsed {
  max-height: 0;
}

/* @media only screen and (max-width: 770px) { 
  .half-width-fieldset, .third-width-fieldset, .quarter-width-fieldset,  .fith-width-fieldset, .sixth-width-fieldset, .tenth-width-fieldset {
    flex-direction: column; 
    align-items: stretch; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    grid-column: span 2;
    grid-gap: 10px;
  }
} */
